<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Apply for loan
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <p class="title">Choose a bank</p>
    <ion-card>
        <img src="../../assets/icici.png" />
    </ion-card>
    <ion-card>
        <img src="../../assets/canara.png" />
    </ion-card>
    <ion-card>
        <img src="../../assets/sbi.jpg" />
    </ion-card>
    <ion-card>
        <img src="../../assets/ubi.png" />
    </ion-card>
    <p class="sub-title">Other banks</p>
</ion-content>