p {
    padding: 10px;
    text-align: left;
    margin-top: -8px;
    font-size: 17px;
    font-weight: 550;
    color: black
}

h5 {
    font-size: 13px;
    margin-top: -41px;
    padding: 10px;
    color: grey
}

.kilo1{
    margin-top: -61px;
    text-align: right;
    margin-right: -45px;
    font-size: 16px;
    color: #06668b;
}

.amount1{
    margin-right: -8px;
    margin-top: -62px;
    text-align: right;
    font-size: 17px;
    color: orange;
}

.per1{
    margin-right: 15px;
    text-align: right;
    margin-top: -38px;
    font-size: 13px;
    color: orange
}

.title1{
    font-size: 15px;
    padding: 5px;
    margin-top: -22px;
    color: black;
}

.person1{
    font-size: 13px;
    padding: 5px;
    margin-top: -22px;
    color: grey;
}

.place1{
    font-size: 12px;
    padding: 5px;
    margin-top: -20px;
    color: grey;
}

.rating1 {
    font-size: 13px;
    margin-top: -22px;
    color: orange;
    margin-bottom: 10px;
}

.product1 {
    padding: 10px;
    font-size: 15px;
    margin-top: -23px;
    color: black;
}

.kg1 {
    font-size: 15px;
    margin-top: -24px;
    color: grey;
}

.contract1 {
    padding: 10px;
    font-size: 14px;
    margin-top: -26px;
    color: black;
}

.order1 {
    padding: 10px;
    font-size: 13px;
    margin-top: -30px;
    color: grey;
}

.delivery1 {
    padding: 10px;
    font-size: 13px;
    text-align: left;
    margin-left: -91px;
    color: orange;
    margin-top: -5px;
}

.icon2 {
    font-size: 31px;
    margin-top: -30px;
    margin-bottom: -65px;
    color: orange
}

.icon1 {
    padding: -3px;
    font-size: 17px;
    margin-top: -13px;
    color: #053305;
}

.icon3 {
    font-size: 27px;
    margin-top: -23px;
    margin-bottom: -8px;
    text-align: right;
    color: #da0c95;
}

.submit {
    text-align: center;
    color: black
}


ion-button {
    margin-top: -20px;
    margin-left: -20px;
    text-align: left;
    border-radius: 17px;
    background-color: #00853c;
}