<!-- <ion-header>
  <ion-toolbar>
    <ion-title>profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content> -->

<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="user-photo" padding-top>
    <ion-avatar>
      <img src="../../assets/img_avatar.png">
    </ion-avatar>
  </div>

  <ion-list>
    <ion-item>
      <ion-icon name="person" slot="start"></ion-icon>
      <ion-label>
        <p>Display Name</p>
        <h2>Jobiny Johnson</h2>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="mail" slot="start"></ion-icon>
      <ion-label>
        <p>E-mail</p>
        <h2>jobini@digiledge.com</h2>
      </ion-label>
    </ion-item>
    <ion-item>
        <ion-icon name="call" slot="start"></ion-icon>
        <ion-label>
          <p>Mobile Number</p>
          <h2>9876543211</h2>
        </ion-label>
      </ion-item>
      <ion-item>
          <ion-icon name="pin" slot="start"></ion-icon>
          <ion-label>
            <p>Location</p>
            <h2>Bangalore</h2>
          </ion-label>
        </ion-item>
  </ion-list>
</ion-content>
