<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Track Orders
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col size="12">
      <p class="value card-title">Vegetables</p>
      <p class="value card-subtitle">Tomato</p>
      <p class="value kilogram">85kg</p>
    </ion-col>
  </ion-row>
  <p class="value subtitle">In the farm</p>
  <ion-row>
    <ion-col size="12">
      <ul>
        <p class="value seed">
          <li>Seeds planted</li>
        </p>
        <p class="value date">30th June,18</p>
        <p class="value description">The type and quality of seed will be</p>
        <p class="value desc">written here.</p>
      </ul>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12">
      <ul>
        <p class="value seed">
          <li>Seeds Germinated</li>
        </p>
        <p class="value date">28th July,18</p>
        <p class="value description">A brief description</p>
      </ul>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12">
      <ul>
        <p class="value seeds">
          <li>Flowering</li>
        </p>
        <p class="value month">Expected by mid september</p>
      </ul>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12">
      <ul>
        <p class="value seeds">
          <li>Harvesting</li>
        </p>
        <p class="value date">Expected by mid october</p>
      </ul>
    </ion-col>
  </ion-row>
  <p class="value subtitle">Transportation</p>
  <ion-row>
    <ion-col size="12">
      <ul>
        <p class="value seeds">
          <li>Packed</li>
        </p>
        <p class="value month">Expected by early november</p>
      </ul>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12">
      <ul>
        <p class="value seeds">
          <li>Shipped</li>
        </p>
        <p class="value month">Expected by early november</p>
      </ul>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12">
      <ul>
        <p class="value seeds">
          <li>Delivery</li>
        </p>
        <p class="value month">Expected by early november</p>
      </ul>
    </ion-col>
  </ion-row>
</ion-content>
