// $height100: 100%;  
.backgrounIMG{
    --background: url('../../../assets/background.png')0 0/100% 100% no-repeat;
    
}

    h3 {
        text-align: center;
        font-size: 18px;
        font-weight: 450;
        margin-bottom: -5%;
        color:  #010a04df;
    }
    
    // h6 {
    //     text-align: center;
    //     margin-top: -22px;
    //     color: #fdc100
    // }
    
    .farms-logo {
        margin-top: -58px;
    margin-bottom: 45px;

    }
    ion-item {
        --background: #569e7f69;
        color: white;
        border-radius:2% ;
        margin-top: 20px;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    }
    
    ion-button {
        --color: #000000 !important;
        width: 150px;
        height: 30px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
    }
    
    .account {
        text-align: center;
        color:  #010a04df;
        font-weight: 450;
        font-size: 18px;
    }
    
    .create {
        text-align: center;
        font-size: 19px;
        font-weight: 450;
        color:  #010a04df;
    }

    .fb-icon{
        color: #3b5998;
    }
    .google-icon{
        color: #eb4e41;
    }

    .login {
        text-align: center;
    }

    /* 
The container box is relative so we can position stuff inside of it 
*/
.image-box {
    position: relative;
  }
  
  

  /* 
  The background image div sizes and positions the background itself.
  It's also at the bottom-most position in our "div stack" (z-index 1)
  
  We set the image url via a CSS custom property, that's set via the style attribute in our HTML
  */
  .--image-box__background {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: var(--image-url);
    z-index: 1
  }
  
  /* 
  The overlay div is just a colored element with some opacity.
  It's above the background image in our stack, so it appears to 
  darken the image 
  */
  .image-box__overlay {
    background-color: #88e1eca8;
  
   z-index: 2;
   }
  /* 
  The content div is at the top of our stack. 
  We'd probably add some padding or flexbox properties here as well, 
  to place the content appropriately
  */
  .image-box__content {
    position: relative;
    z-index: 3;
    color: white;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .error-message{
      color: red;
  }
  .wrapper{
      text-align: center;
  }
  select{
      background: #ffcc0085;
      border-radius: 5px;
      width: 60px;
      border: none;
  }
  hr{
    border-top: 1px solid rgba(255, 235, 205, 0.384);
      color: blanchedalmond;
  }