p {
    padding: 10px;
    text-align: left;
    margin-top: -8px;
    font-size: 17px;
    font-weight: 550;
    color: black
}

h5 {
    font-size: 13px;
    margin-top: -41px;
    padding: 10px;
    color: grey
}

.kilo1{
    margin-top: -61px;
    text-align: right;
    margin-right: -45px;
    font-size: 16px;
    color: #06668b;
}

.amount1{
    margin-right: -8px;
    margin-top: -62px;
    text-align: right;
    font-size: 17px;
    color: orange;
}

.per1{
    margin-right: 15px;
    text-align: right;
    margin-top: -38px;
    font-size: 13px;
    color: orange
}

.title1{
    font-size: 15px;
    padding: 5px;
    margin-top: -22px;
    color: black;
}

.person1{
    font-size: 13px;
    padding: 5px;
    margin-top: -22px;
    color: grey;
}

.place1{
    font-size: 12px;
    padding: 5px;
    margin-top: -20px;
    color: grey;
}

.rating1 {
    font-size: 13px;
    margin-top: -22px;
    color: orange;
    margin-bottom: 10px;
}

.product1 {
    padding: 10px;
    font-size: 15px;
    margin-top: -23px;
    color: black;
}

.kg1 {
    font-size: 15px;
    margin-top: -24px;
    color: grey;
}

.contract1 {
    padding: 10px;
    font-size: 14px;
    margin-top: -26px;
    color: black;
}

.order1 {
    padding: 10px;
    font-size: 13px;
    margin-top: -30px;
    color: grey;
}

.delivery1 {
    padding: 10px;
    font-size: 13px;
    text-align: left;
    margin-left: -91px;
    color: orange;
    margin-top: -5px;
}

.icon2 {
    font-size: 31px;
    margin-top: -30px;
    margin-bottom: -65px;
    color: orange
}

.icon1 {
    padding: -3px;
    font-size: 17px;
    margin-top: -13px;
    color: #053305;
}

.icon3 {
    font-size: 27px;
    margin-top: -23px;
    margin-bottom: -8px;
    text-align: right;
    color: #da0c95;
}

.submit {
    text-align: center;
    color: black
}


ion-button {
    margin-top: -20px;
    margin-left: -20px;
    text-align: left;
    border-radius: 17px;
    background-color: #00853c;
}

p {
    padding: 10px;
    color: black;
    font-size: 18px;
    margin-top: -5px;
}

h5 {
    font-size: 13px;
    margin-top: -35px;
    padding: 10px;
    color: grey
}

ion-icon {
    color: gold;
    margin-top: -33px;
    padding: 10px;
}

// ion-card {
//     img {
//         height: 25vh !important;
//         width: auto !important;
//     }
//     ion-card-content1 {
//         padding: 0 !important;
//         ion-card-title {
//             padding-top: 1.3rem !important;
//             padding-bottom: 1.5rem !important;
//             padding-left: 1.3rem !important;
//         }
//     }
// }

.iffco {
    max-width: 100%;
    border: 0;
    margin-left: 59px;
    margin-bottom: -31px;
}
.name {
    text-align: left;
    margin-top: -35px;
    margin-left: -55px;
    font-size: 13px;
    color: grey
}

.title {
    padding: 10px;
    font-size: 15px;
    margin-top: -30px;
    font-weight: 500px;
    color: black;
}

.para {
    padding: 10px;
    font-size: 13px;
    margin-top: -45px;
    margin-bottom: -21px;
    font-weight: 320;
    color: grey
}

.list {
    font-size: 18px;
    font-weight: 545;
    margin-bottom: -10px;
    color: black;
}

.products {
    padding: 10px;
    text-align: left;
    margin-bottom: -3px;
    font-size: 13px;
    color: grey
}

.fertiliser {
    padding: 10px;
    text-align: center;
    margin-top: -18px;
    margin-bottom: -3px;
    margin-left: -122px;
    font-size: 18px;
    font-weight: 550;
    color: black
}

.farm {
    padding: 10px;
    text-align: center;
    margin-top: -34px;
    margin-bottom: -3px;
    margin-left: -197px;
    font-size: 15px;
    font-weight: 550;
    color: black;
}

.kilo {
    padding: 10px;
    text-align: left;
    font-size: 12px;
    margin-top: -29px;
    margin-bottom: -3px;
    color: grey
}

.arrow {
    text-align: center;
    margin-top: -55px;
    margin-right: -145px;
    color: black;
    margin-bottom: 11px;
}

.rate {
    text-align: center;
    margin-top: -43px;
    margin-right: -150px;
    font-size: 12px
}

.per {
    text-align: center;
    margin-top: -32px;
    margin-right: -150px;
    margin-bottom: -10px;
    font-size: 12px
}

.crops {
    margin-top: -32px;
    text-align: left;
    font-size: 13px;
    color: grey;
}

.coop {
    padding: 10px;
    text-align: center;
    margin-top: -34px;
    margin-bottom: -3px;
    margin-left: -156px;
    font-size: 15px;
    font-weight: 550;
    color: black;
}

.farms {
    padding: 10px;
    text-align: center;
    margin-top: -18px;
    margin-bottom: -3px;
    margin-left: -201px;
    font-size: 15px;
    font-weight: 550;
    color: black;
}

.Farms {
    padding: 10px;
    text-align: center;
    margin-top: -18px;
    margin-bottom: -3px;
    margin-left: -228px;
    font-size: 15px;
    font-weight: 550;
    color: black;
}

.back {
    margin-top: -11px;
    color: white;
    font-size: 30px;
    margin-right: 319px;
    margin-bottom: -35px;
}