.card-title {
    padding: 10px;
    text-align: center
}

.title {
    font-size: 16px;
    color: black;
    font-weight: 500;
    margin-top: -5px;
}

.para {
    font-size: 15px;
    margin-top: -26px;
    color: grey;
}

.sub-title {
    font-size: 14px;
    color: grey;
    font-weight: 500;
    margin-top: -18%;
    margin-bottom: 0px;
    padding: 10px;
}

.number {
    font-size: 18px;
    color: gold
}

.number1 {
    margin-left: 12px;
    margin-top: -3px;
    font-size: 18px;
    color: gold
}

.number2 {
    margin-left: 12px;
    margin-top: -3px;
    font-size: 18px;
    color: gold
}

.number3 {
    margin-left: 12px;
    margin-top: -12px;
    font-size: 18px;
    color: gold
}

.number4 {
    margin-left: 12px;
    margin-top: -12px;
    font-size: 18px;
    color: gold
}

ion-icon {
    color: rgb(5, 51, 5);
    margin-right: -3px;
    text-align: right;
}