<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            My Ratings
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-row>
            <ion-col size="5">
                <img class="" src="../../assets/ratings_star.png" alt="Card image cap">
                <div class="card-title">
                    <p class="title">Overall Rating</p>
                </div>
                <div class="card-subtitle">
                    <P class="sub-title"> Total 35 ratings</P>
                </div>
            </ion-col>
        </ion-row>
    </ion-card>
    <ion-grid>
        <ion-row>
            <ion-col size="2">
                <ion-icon name="disc" style="zoom:3.0;"></ion-icon>
            </ion-col>
            <ion-col size="10">
                <ion-row>
                    <ion-col size="8">
                        <p class="title">Mr.Rajeev Shukula</p><br>
                    </ion-col>
                    <ion-col size="4">
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                    </ion-col>
                </ion-row>
                <p class="para">The comment which consumers give as a feedback</p>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="2">
                <ion-icon name="disc" style="zoom:3.0;"></ion-icon>
            </ion-col>
            <ion-col size="10">
                <ion-row>
                    <ion-col size="8">
                        <p class="title">Mr.Rajeev Shukula</p><br>
                    </ion-col>
                    <ion-col size="4">
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                    </ion-col>
                </ion-row>
                <p class="para">The comment which consumers give as a feedback</p>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="2">
                <ion-icon name="disc" style="zoom:3.0;"></ion-icon>
            </ion-col>
            <ion-col size="10">
                <ion-row>
                    <ion-col size="8">
                        <p class="title">Mr.Rajeev Shukula</p><br>
                    </ion-col>
                    <ion-col size="4">
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                    </ion-col>
                </ion-row>
                <p class="para">The comment which consumers give as a feedback</p>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="2">
                <ion-icon name="disc" style="zoom:3.0;"></ion-icon>
            </ion-col>
            <ion-col size="10">
                <ion-row>
                    <ion-col size="8">
                        <p class="title">Mr.Rajeev Shukula</p><br>
                    </ion-col>
                    <ion-col size="4">
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                    </ion-col>
                </ion-row>
                <p class="para">The comment which consumers give as a feedback</p>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="2">
                <ion-icon name="disc" style="zoom:3.0;"></ion-icon>
            </ion-col>
            <ion-col size="10">
                <ion-row>
                    <ion-col size="8">
                        <p class="title">Mr.Rajeev Shukula</p><br>
                    </ion-col>
                    <ion-col size="4">
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                    </ion-col>
                </ion-row>
                <p class="para">The comment which consumers give as a feedback</p>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>